@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Orbitron:wght@900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: px solid red;
    font-family: 'Karla', sans-serif;
    color: #f3f3f3;
    text-shadow: 2px 2px #222222;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("./images/bg-img.jpg");
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(to bottom, white, rgb(44, 44, 44)); */
}

/* ---------------LOGIN--------------- */

.login--body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./images/bg-img.jpg");
    background-position: center;
    background-size: cover;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #14213d;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-header {
    width: 400px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e5e5e5;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block; 
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #e5e5e5;
}

input[type='text'],
input[type='password'] {
    text-shadow: none; 
    color: #222222;
    width: 95%; 
    padding: 10px; 
    margin-bottom: 20px;
    border: none;
    border-radius: 5px; 
    background-color: #f2f2f2;
}

input[type='text']:focus,
input[type='password']:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px #FCA311;
}

.employee-login {
    color: #FCA311;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.6s ease-in-out;
}

.employee-login:hover {
    color: #e5e5e5;
}

.forgot-pass {
    color: #e5e5e5;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.6s ease-in-out;
}

.forgot-pass:hover {
    color: #FCA311;
}

.form-button {
    text-shadow: none; 
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #FCA311;
    color: #14213d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.form-button:hover {
    background-color: #ED820E;
}

select {
    margin-bottom: 20px;
    color: #14213d;
    text-shadow: none;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
}

select option {
    color: #14213d;
}

/* ---------------HOME--------------- */

.home--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 12px;
}

.home--container h3 {
    color: #FCA311;
    font-size: 60px;
}

.home--container h4 {
    font-size: 20px;
}

.home--container button {
    width: 200px;
    height: 50px;
    color: #f3f3f3;
    text-shadow: none;
    font-size: 15px;
    border-radius: 15px;
    border-color: #f3f3f3;
    background-color: transparent;
    transition: 0.4s ease-in-out;
}

.home--container button:hover {
    cursor: pointer;
    border-color: #FCA311;
    color: #14213d;
    background-color: #FCA311;
}

.home--container button:active {
    transition: 0.4s;
    transform: scale(1.1);
}

.home--logo {
    width: 24em;
    height: 24em;
}

.home--company {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 4em;
}
.home--text {
    font-family: 'Orbitron', sans-serif;
}

/* ---------------NAVBAR--------------- */

.navbar {
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--logo:hover {
    cursor: pointer;
}

.navbar--logo .company--logo {
    height: 4em;
    width: 4em;
    padding: 1em;
}

.navbar--logo .company--name {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.navbar--links {
    list-style-type: none;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0;
    cursor: pointer;
}

.navbar--links li {
    transition: 0.7s ease;
}

.navbar--links li:hover {
    transform: scale(1.1);
    color: #FCA311;
}

/* ---------------PROFILE--------------- */

.profile--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.clients,
.suppliers,
.financial--institutions,
.testimonies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2rem;
    text-align: center;
}

.client,
.supplier,
.financial--institution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.client img,
.supplier img,
.financial--institution img {
    height: 120px;
}

.testimonies {
    width: 60%;
    font-size: 2em;
    font-style: italic;
}

.testimony-info {
    width: 60%;
    font-size: 2em;
    text-align: end;
}

/* ---------------ABOUT US--------------- */

.about-us--header {
    font-size: 2em;
    padding: 1rem 2rem;
}

.clients--header,
.suppliers--header,
.financial--institutions--header,
.testimonies--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}

.clients--desc, 
.suppliers--desc,
.financial--institutions--desc {
    text-align: center;
    font-weight: bold;
}

.company-info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ---------------HISTORY--------------- */

.history--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.history--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}

.history--desc {
    text-align: center;
    width: 48em;
    font-size: 1em;
}

/* ---------------MISSION & VISION--------------- */

.mission--vision--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.mission-vision--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}


.mission-vision {
    display: flex;
    justify-content: center;
    gap: 36px;
    width: 48rem;
    font-size: 1em;
}

.mission {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 48em;
    font-size: 1em;
}

.vision {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 48em;
    font-size: 1em;
}

/* ---------------FAQs--------------- */

.faqs--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    max-width: 80%;
    padding: 32px;
}

.faqs--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}

.questions--and--answers {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.question {
    font-weight: 600;
    font-size: 1.25em;
}
