@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Orbitron:wght@900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: px solid black;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: linear-gradient(to bottom, white, rgb(44, 44, 44)); */
}

/* ---------------HOME--------------- */

.home--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home--logo {
    width: 24em;
    height: 24em;
}

.home--company {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 4em;
}
.home--text {
    font-family: 'Orbitron', sans-serif;
}

/* ---------------NAVBAR--------------- */

.navbar {
    background-color: #141414;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--logo:hover {
    cursor: pointer;
}

.navbar--logo .company--logo {
    height: 4em;
    width: 4em;
    padding: 1em;
}

.navbar--logo .company--name {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.navbar--links {
    list-style-type: none;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0;

}
.navbar--links li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

/* ---------------ABOUT US--------------- */

.about-us--header {
    font-size: 2em;
    padding: 1rem 2rem;
}

/* ---------------HISTORY--------------- */

.history--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.history--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}

.history--desc {
    text-align: center;
    width: 48em;
}

/* ---------------MISSION & VISION--------------- */

.mission--vision--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.mission-vision--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}


.mission-vision {
    display: flex;
    justify-content: center;
    gap: 36px;
    width: 48rem;
    font-size: 1em;
}

.mission {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 48em;
}

.vision {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 48em;
}

/* ---------------FAQs--------------- */

.faqs--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.faqs--header {
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 2em;
}

.questions--and--answers {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.question {
    font-weight: 600;
    font-size: 1.25em;
}