@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Orbitron:wght@900&display=swap');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0;
}

/* Form container */

.navbar {
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.navbar--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--logo:hover {
    cursor: pointer;
}

.navbar--logo .company--logo {
    height: 4em;
    width: 4em;
    padding: 1em;
}

.navbar--logo .company--name {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.navbar--links {
    list-style-type: none;
    font-weight: 700;
    font-size: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0;
    cursor: pointer;
    margin-right: 16px;
}

.navbar--links li {
    transition: 0.7s ease;
    margin-right: 12px;
}

.navbar--links li:hover {
    transform: scale(1.1);
    color: #FCA311;
}

body {
    background-image: url("bg-img.jpg");
    background-size: cover;
}

.form-container { 
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #14213d;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}

/* Form header */

.form-header {
    margin-bottom: 20px;
}

.form-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #e5e5e5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form label */
.form-label {
    display: block; 
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #e5e5e5;
}

/* Form input */
.form-input { 
    width: 95%; padding: 10px; 
    margin-bottom: 20px;
    border: none;
    border-radius: 5px; 
    background-color: #f2f2f2;
}

.form-input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px #FCA311;
}

/* Forgot password */
.forgot-pass {
    cursor: pointer;
    font-size: 12px;
    color: #e5e5e5;
    font-weight: bold;
    margin-bottom: 20px;
}

.forgot-pass:hover {
    color: #FCA311;
    transition: 0.3s ease-in-out;
}

/* Form button */
.form-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #FCA311;
    color: #14213d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #ED820E;
}

/* Form error message */
.form-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}