@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Orbitron:wght@900&display=swap');

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.navbar {
  color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.navbar--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar--logo:hover {
  cursor: pointer;
}

.navbar--logo .company--logo {
  height: 4em;
  width: 4em;
  padding: 1em;
}

.navbar--logo .company--name {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.navbar--links {
  list-style-type: none;
  font-weight: 700;
  font-size: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
  cursor: pointer;
  margin-right: 16px;
}

.navbar--links li {
  transition: 0.7s ease;
  margin-right: 12px;
}

.navbar--links li:hover {
  transform: scale(1.1);
  color: #FCA311;
}

body {
  display: flow-root;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  overflow: auto;
  background-image: url("bg-img.jpg");
  background-size: cover;
  margin: auto;
}

.base { 
  max-width: 400px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 20px;
  background-color: #14213d;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(236, 227, 227, 0);
  color: #e5e5e5;
  outline: invert;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 1);
  font-size: 12px;
  
}

label {
  font-size: 12px;
  font-weight: bold;
}

input[type= text], select {
  padding: 15px;
  width: 90%;
  margin: 10px 0 15px 0;
  display: inline-block;
  border: none;
  background-color: #f2f2f2;
  outline: invert;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 1);
  font-size: 12px;
}

input[type=email], input[type=date] {
  padding: 15px;
  width: 50%;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: none;
  background-color: #f2f2f2;
  outline: invert;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 1);
  font-size: 12px;
}

input[type=submit] {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #FCA311;
  color: #14213d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
}

input[type=submit]:hover {
  background-color: #ED820E;
  font-size: 12px;
}


label[for=user] {
  font-style: normal;
  font-size: 12px;
}

input[type=checkbox] {
  font-style: normal;
  font-size: 12px;
}

.info {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

