* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

body {
  display: flow-root;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  overflow: auto;
  background-image: url("bg-img.jpg");
  background-size: cover;
  background-position: 100%;
  padding: 20px;
  margin: auto;
}

.base { 
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #14213d;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(236, 227, 227, 0);
  color: #e5e5e5;
  outline: invert;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 1);

}

input[type= text], select {
  padding: 15px;
  width: 90%;
  margin: 10px 0 15px 0;
  display: inline-block;
  border: none;
  background-color: #f2f2f2;
  outline: invert;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 1);
}

input[type=email], input[type=date] {
  padding: 15px;
  width: 50%;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: none;
  background-color: #f2f2f2;
  outline: invert;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 1);
}

input[type=submit] {
  margin-top: 20px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #FCA311;
  color: #14213d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #ED820E;
}


label[for=user] {
  font-style: normal;
}

input[type=checkbox] {
  font-style: normal;
}

.info {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

